@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light theme variables*/
  --header-bg-color: #eee8d5;
  --footer-bg-color: #eee8d5;
  --body-text-color: #657b83;
  --background-image: url();
}

[data-theme="dark"] {
    /* Dark Theme Variables Matching VS Code Colors */
    --header-bg-color: #1e1e1e;
    --footer-bg-color: #1e1e1e;
    --body-text-color: #d4d4d4;
    --background-image: url();
}

body {
  color: var(--body-text-color);
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .hover\:primary:hover {
    background-color: var(--primary-hover);
  }

  .hover\:secondary:hover {
    background-color: var(--secondary-hover);
  }
}
