@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light theme variables*/
  --header-bg-color: #eee8d5;
  --footer-bg-color: #eee8d5;
  --body-text-color: #657b83;
  --background-image: url("/background-theme-light.webp");
  --primary-hover: #dcd0c0;
}

[data-theme="dark"] {
  /* Dark Theme Variables */
  --header-bg-color: #263238;
  --footer-bg-color: #263238;
  --body-text-color: #eceff1;
  --background-image: url("/background-theme-dark.webp");
  --primary-hover: #2e3e50;
}

body {
  color: var(--body-text-color);
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .hover\:primary:hover {
    background-color: var(--primary-hover);
  }

  .hover\:secondary:hover {
    background-color: var(--secondary-hover);
  }
}
