.userSection {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Spread content across the full width */
  width: 100%;
}

.profileImage {
  border-radius: 50%;
  object-fit: contain;
  margin-right: 1rem;
  width: 40px; /* Smaller image */
  height: 40px;
}

.userName,
.userEmail {
  margin-right: 1rem;
}

.userName {
  font-size: 1rem;
}

.userEmail {
  font-size: 0.8rem;
}
