.button {
  background-color: var(--signin-btn-bg-color);
  border: none;
  color: var(--signin-text-color);
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 9px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--signin-btn-hover-bg-color);
}

.message {
  margin-top: 10px;
  font-size: 14px;
  color: var(--error-message-text-color);
}
