/* Header.module.css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d1d6d7;
  /* background-color: #ffffff; */
  /* background-color: #CDD2D3; */
  /* background-color: #C7CCCD; */
  /* background-color: #BFC4C5; */
  /* background-color: #B8BDBE; */
  padding: 2rem 2rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.logoContainer {
  /* Additional styles if needed */
}

.logo {
  /* Additional styles if needed */
}

.hamburger {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 2rem;
}

/* The regular navigation bar styles, visible on larger screens */
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navOpen {
  display: flex; /* Flex layout for the sidebar */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
  padding-top: 2rem; /* Optional: To avoid overlaying with the header */
  z-index: 2000; /* Higher than other content */
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.navOpen {
  transform: translateX(0); /* Resets transform to show the sidebar */
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navItem {
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Allows each item to grow equally */
  padding: 0 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .hamburger {
    display: block; /* Show hamburger icon */
  }
  .nav {
    display: none; /* Hide the horizontal nav bar on smaller screens */
  }
  .navOpen {
    display: flex; /* Show the sidebar when activated */
  }
}
